@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    --camel: #B88848;
    --prussian-blue: #002E62;
    --tea-green: #C1DBB3;
    --blue-ncs: #0094C6;
    --dark-sea-green: #7EBC89;
}

fieldset legend{
  font-weight: bolder;
  padding: 0 .5rem;
}

fieldset {
  margin: 1rem 0;
}

#highlights.card {
  text-align: center;
}

#highlights.card.dark {
  background: var(--prussian-blue);
}

#highlights>.card {
  background: var(--tea-green);
}

#highlights.dark>.card {
  background: var(--blue-ncs);
}

#weather.dark {
  background: var(--prussian-blue);
}

#weather>*>.card {
  background: var(--tea-green);
}

#weather.dark>*>.card {
  background: #046b8e;
}

label.top input{
  display: block;
  min-height: 44px;
  margin-top: 0.3rem;
  margin-bottom: 0.8rem;
  width: 90%;
}

label.radio {
  display: block;
  margin: 0.8rem 0;
}

#format-button-div {
  display: flex;
  margin: auto;
  justify-content: center;
  gap: 1rem;
}

#format-button-div.list-view {
  padding: 0;
  margin: 0 1.5rem;
  background: none;
}

.directory .card {
  text-align: center;
}

form {
  width: 100%;
}

#format-button-div img {
  background: var(--tea-green);
  border-radius: 10px;
  height: 60%;
  width: 2.5rem;
  padding: 5px;
  margin-bottom: 10px;
  border: 2px solid var(--blue-ncs);
}

#directory-container.list-view {
  background: none;
  padding: 0;
  margin: 0;
  gap: 0;
}

main.list-view {
  padding: 0;
  width: 100%;
  background: var(--dark-sea-green);
}

main.list-view h1 {
  padding: 1.5rem;
  padding-bottom: 0;
}

#format-button-div img:hover {
  background: #d7edcb;
  cursor: pointer;
}

#format-button-div img.active {
  background:rgb(109, 202, 125);
}

img.hidden {
  display: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--prussian-blue);
}

a:link {
  color: var(--prussian-blue);
}

.card a:link {
  color: #1b712a;
  text-decoration: underline;
  overflow-wrap: break-word;
}

.directory-logo {
  border-radius: 50%;
  max-width: 100px;
}

div.list-view {
  text-align: center;
}

.list-view {
  background: #aed09b;
  padding: 1rem;
}

div.list-view:nth-child(odd){
  background: var(--tea-green);
}

div.list-view.dark {
  background: rgb(27, 113, 42);
}

div.list-view:nth-child(odd).dark{
  background: #31a745;
}

div.list-view.dark>* {
  color: #81d190;
}

div.list-view.dark section p a:link {
  color: #035011;
}

div.list-view.dark section p a:visited {
  color: #055213;
}

#submitButton {
  background: #9ae9a8;
  border: none;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 10px;
  font-weight: bold;
  color: var(--blue-ncs);
  font-size: 16px;
  font-family: "Roboto Mono";
}

#submitButton:hover {
  background: #95f1a6;
  color: #1964ba;
}

.wide {
  grid-column: auto;
}

.discover-main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: column;
  gap: 0px;
  color: rgb(27, 113, 42);
}

.discover-images.dark {
  background: #1f5328;
}
  
.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 2;
  font-size: calc(10px + 0.2vw);
  background: #09a9ed;
  border-top-right-radius:10px;
  max-width: 150px;
  border-top: 1px solid var(--dark-sea-green);
  border-right: 1px solid var(--dark-sea-green);
}

.sidebar.dark {
  background: rgb(9, 129, 59);
  color: var(--tea-green);
}

.sidebar.maximized {
  padding: 1rem;
}

.sidebar-content {
  display: none;
}

.sidebar-content.maximized {
  display: inline;
}

.sidebar h1 {
    font-size: calc(15px + 0.2vw);
    font-weight: bold;
}

.sidebar-menu {
    display: inline;
    padding: 1rem;
}

.sidebar-menu.maximized {
  margin-left: 90%;
  width: 15px;
  padding: 0;
  right: 0;
}

.sidebar-menu:hover {
  cursor: pointer;
}
  
.discover-images {
    grid-column: 1/5;
    grid-row: 1/-1;
    padding: 1.5rem;
    background: var(--tea-green);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    gap: 1rem;
}

.image-div {
    display: grid;
    background: var(--blue-ncs);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    width: 90%;
}

.image-div.dark {
  background: var(--prussian-blue);
}

.image-div p {
    font-size: 15px;
    grid-column: span 2;
}

.image-div img {
    width: 100%;
    border-radius: 10px;
}

.card {
    display: block;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 2rem;
    border-left: 8px solid var(--camel);
    border-left-style: solid;
    border-left-width: 8px;
    background: var(--blue-ncs);
    color: #1b712a;
    margin-bottom: 2rem;
}

.banner {
    margin-top: 2rem;
    display: none;
    background: #39bfec;
    color: #0c85ad;
    width: 100%;
    margin-left: -2rem;
    grid-column: span 2;
    padding: 2rem;
}

.banner.dark {
  background: var(--prussian-blue);
}

.card.dark {
  background: var(--prussian-blue);
  color: var(--dark-sea-green);
}

.social-icon {
    width: 50px;
    display: inline;
}

.round-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.discover-images h3 {
    text-align: center;
    grid-column: auto;
}

.round-bottom {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.section-header {
    grid-column: span 2;
}

.camel {
    background: var(--camel);
}

.prussian-blue {
    background: var(--prussian-blue);
}

.blue-ncs {
    background: var(--blue-ncs);
}

.dark-sea-green {
    background: var(--dark-sea-green);
}

.tea-green {
    background: var(--tea-green);
}

#filler-div.close {
  height: 85px;
}

.learn-button:hover {
  color: var(--dark-sea-green);
}

body {
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / 300px 1fr auto;
    background: var(--blue-ncs);
    padding: 13px 13px 13px 13px;
    font-family: 'Roboto Mono';
    margin: 0;
    margin-bottom: 2rem;
}

.hero-div img {
  width: 100%;
  max-width: 960px;
  filter: sepia(100%) saturate(150%) brightness(90%) hue-rotate(80deg);
}

picture {
  grid-column: 1 / 3;
  grid-row: 1/-1;
}

.hero-div {
  position: static;
  grid-column: span 2;
  display: grid;
  grid-template: 1fr 1fr/ 1fr 1fr;
  width: 100%;
}

.hero-label {
  padding-left: 1.3rem;
  padding-bottom: 1rem;
  grid-column: 1 / 3;
  grid-row: 2/3;
  z-index: 1;
  display: flex;
}

.hero-label p {
  font-size: 3.8vw;
  display: inline;
  align-self: flex-end;
  margin: 0px;
  margin-right: 1rem;
  color: #369e49;
}

.hero-div img {
  width: 100%;
  max-width: 960px;
}


.hero-button {
  border: none;
  border-radius: 10px;
  background: var(--blue-ncs);
  padding: .5rem;
  font-family: "Roboto Mono";
  font-size: 2.5vw;
  align-self: flex-end;
}

.hero-button a {
  text-decoration: none;
  color: #a6fdb6;
}

.hero-button:hover {
  background: #14b1e5;
}

.hero-button:hover a {
  color: var(--tea-green);
}

.wide-card {
    grid-column: span 2;
}

.menu {
    text-align: center;
    list-style: none;
    background: var(--dark-sea-green);
    padding: 0;
    margin: 0;
    overflow: hidden;
    z-index: 3;
    border-radius: 10px;
}

.menu.open {
  position: absolute;
  align-items: center;
  left: 50%;
  top: 0;
  transform: translate(-50%, 13px);
}
  
.active {
  background: #6ca876;
}

.dark .active{
  background: rgb(32, 77, 39);
}
  
.menu li a {
  width: auto;
  padding: 1rem;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: background 0.5s ease-in-out;
}

.menu li a:hover,
.menu li:first-child a {
    display: block;
    background: #6ca876;
    color: #fff;
}

.menu li:first-child a.close {
  height: calc(85px - 1rem);
  padding: 0.5rem;
}

.menu li:first-child a.dark{
  display: block;
  background:rgb(32, 77, 39);
  color: #fff;
}

ul:first-child {
  height: 85px;
}

.close img {
  display: none;
}

li a.menu-item {
  display: none;
  text-align: center;
  position: relative;
}

li a.open {
    text-align: center;
    display: block;
}

.close::before {
  content: "❎";
  font-size: 46px;
}

nav {
  display: flex;
  grid-column: 1 / 4;
  align-items: center;
  justify-content: right;
  flex-direction: column;
  background: var(--dark-sea-green);
}

.menu li.dark {
  background:rgb(44, 145, 60);
}

.menu li:nth-child(odd) {
  background:rgb(132, 209, 144);
}

.menu li.dark:nth-child(odd) {
  background:rgb(66, 171, 84);
}

nav.dark {
  background:rgb(27, 113, 42);
}

header {
    display: block;
    background: var(--prussian-blue);
    color: var(--blue-ncs);
    grid-column: 1 / 4;
    padding: 1rem;
}

main {
  grid-column: 1 / 4;
  padding: 1.5rem;
  width: auto;
  max-width: 1060px;
  background: var(--dark-sea-green);
  font-size: 15px;
  color: #1b712a;
}

footer {
  background: var(--prussian-blue);
  padding: 1rem;
  text-align: center;
  grid-column: 1 / 4;
  color: var(--blue-ncs);
  margin-top: 2rem;
}

header.round-bottom {
  border-radius: 0;
}

main.round-bottom {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

li {
    list-style: none;
}

h1 {
    font-size: 25px;
    grid-column: span 2;
}   

