@media screen and (min-width: 900px) {
    .hero-text {
        font-size: 3vw;
        bottom: 130%;
        left: 5%;
    }
    .hero-button {
        font-size: 1.5vw;
        top: -36%;
        left: 45%;
    }
    main {
        display: grid;
        font-size: 20px;
        gap: 2rem;
        grid-auto-flow: row;
        grid-template-columns: 1fr 1fr;
    }
    nav {
        flex-direction: row-reverse;
        gap: 3rem;
    }
    h1 {
        font-size: 2em;
    }
    h2 {
        grid-column: span 2;
        grid-row: auto;
    }
    #filler-div {
        display: none;
        height: 85px;
        transform: translate(-590%, 0);
    }
    .card {
        display: inline;
        min-height: 150px;
        width: auto;
        grid-column: auto / auto;
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
        border-left-style: solid;
        border-left-width: 8px;
        margin-top: auto;
        padding: 1rem;
    }
    .wide-card {
        grid-column: span 2;
    }
    header {
        padding: 1rem;
        grid-column: 1 / 4;
    }
    .menu {
        display: flex;
        position: static;
        flex-direction: row-reverse;
    }
    li a.menu-item {
        display: block;
        flex: 1 1 auto;
        text-align: center;
        position: relative;
    }

    #menu-button {
        display: none;
    }
    .menu.open {
        position: static;
        transform: translate(0, 0);
    }
}