@media screen and (min-width: 900px) {
    
    .discover-images {
        grid-template: auto / 1fr 1fr;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    #format-button-div {
        display: flex;
        width: 20%;
        margin: auto;
    }

    main.list-view #format-button-div {
        width: calc(20% - 0.8rem);
    }

    #format-button-div img {
        width: 30%;
        padding: 5px;
        margin-bottom: 10px;
    }

    #directory-container {
        display: grid;
        gap: 2rem;
        grid-auto-flow: row;
        grid-template-columns: 1fr 1fr;
    }

    section.card {
        text-align: center;
    }

    .weather-grid>h3 {
        grid-column: span 3;
    }

    .weather-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 1fr;
        grid-auto-flow: column;
        gap: 2rem;
    }

    .weather-grid .card {
        border: 1px solid black;
        border-left: 8px solid var(--camel);
    }

    .banner {
        margin-top: 0;
    }

    #highlights.card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: column;
        gap: 2rem;
    }

    .highlights .card>* {
        font-size: 1.6vw;
    }

    div.list-view {
        grid-column: span 2;
        text-align: left;
        width: calc(100% - 1rem);
    }

    #directory-container.list-view {
        background: none;
        padding: 0;
        margin: 0;
        gap: 0;
    }

    section.card img {
        max-width: 100px;
    }

    main.list-view {
        padding: 0;
        width: calc(60% + 4rem);
        background: var(--dark-sea-green);
    }

    main.list-view h1 {
        padding: 2rem;
        padding-bottom: 0;
    }
    
    main.list-view #format-button-div {
        padding: 0 2rem;
    }

    main.directory {
        display: block;
    }

    div.list-view section>*{
        font-size: 15px;
        display: inline;
        margin: 0.5rem;
        white-space: nowrap;
    }
    div.list-view section p>*{
        display: inline-block;
    }

    div.list-view section img {
        display: none;
    }

    picture {
        grid-column: 1 / 3;
        grid-row: 1/-1;
    }

    .hero-div {
        position: static;
        grid-column: span 2;
        display: grid;
        grid-template: 1fr 1fr 1fr/ 1fr 1fr;
        width: 100%;
    }
    
    .hero-label {
        padding: 1rem;
        padding-left: 2.2rem;
        grid-column: 1 / 3;
        grid-row: 3/4;
        z-index: 1;
    }

    .hero-label p {
        margin-right: 1rem;
        font-size: 3vw;
        display: inline;
    }

    .hero-div img {
      width: 100%;
      max-width: 960px;
    }

    .wide {
        grid-column: span 2;
    }

    .image-div img:hover {
        opacity: 0.8;
        border-radius: 15px 200px;
    }

    .sidebar {
        grid-column: 1/2;
        background: var(--prussian-blue);
        grid-column: 1/2;
        padding: 1rem;
        grid-row: 1 / -1;
        border-top-left-radius:10px;
        border-bottom-left-radius: 10px;
    }
    main {
        display: grid;
        font-size: 20px;
        gap: 2rem;
        grid-auto-flow: row;
        grid-template-columns: 1fr 1fr;
    }
    nav {
        flex-direction: row-reverse;
        gap: 3rem;
    }
    h1 {
        font-size: 2em;
    }
    h2 {
        grid-column: span 2;
        grid-row: auto;
    }
    #filler-div {
        display: none;
        height: 85px;
        transform: translate(-590%, 0);
    }
    .card {
        display: inline;
        min-height: 150px;
        width: auto;
        grid-column: auto / auto;
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
        border-left-style: solid;
        border-left-width: 8px;
        padding: 1rem;
        margin-bottom: 0;
    }
    .wide-card {
        grid-column: span 2;
    }
    header {
        padding: 1rem;
        grid-column: 1 / 4;
    }
    .menu {
        display: flex;
        position: static;
        flex-direction: row-reverse;
    }
    li a.menu-item {
        display: block;
        flex: 1 1 auto;
        text-align: center;
        position: relative;
    }

    #menu-button {
        display: none;
    }
    .menu.open {
        position: static;
        transform: translate(0, 0);
    }
}