@media screen and (min-width: 580px) {
    main {
        display: grid;
        font-size: 20px;
        gap: 2rem;
        grid-auto-flow: row;
        grid-template-columns: 1fr, 1fr;
    }
    nav {
        flex-direction: row-reverse;
    }
    h2 {
        grid-column: span 2;
        grid-row: auto;
    }
    .card {
        display: inline;
        min-height: 150px;
        width: auto;
        grid-column: auto / auto;
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
        border-left-color: blue;
        border-left-style: solid;
        border-left-width: 8px;
        margin-top: auto;
        padding: 1rem;
    }
}